@{
    ViewBag.Title = "About";
}

<main class="container mt-5">
    <h1 class="text-center mb-4">О нас</h1>
    <div class="row">
        <div class="col-md-6">
            <p>
                Мы - одна из самых больших библиотек в городе, хранящая более миллиона книг и других материалов. Представьте себе: классика мировой литературы, современная проза и поэзия, художественная литература всех жанров, научная литература по различным дисциплинам, учебники для школьников и студентов, детские книги, журналы и газеты - все это ждет вас в нашей библиотеке!
            </p>
            <p>
                В библиотеке “Книжный Мир” царит атмосфера спокойствия и вдохновения, которая идеально подходит для чтения, учебы, работы и общения. Мы проводим различные мероприятия для всех возрастов: литературные вечера, встречи с авторами, мастер-классы по творчеству, детские программы, лекции по различным темам.
            </p>
            <p>
                У нас вы найдете редкие и ценные издания, а также уникальные коллекции, которые хранят историю и культуру нашего города. Мы стремимся сделать знания доступными для всех, поэтому предлагаем удобные условия для работы, комфортные зоны отдыха и приветливый персонал. Приходите к нам, чтобы открыть для себя мир книг и получить удовольствие от чтения!
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/images/img_about.jpg" class="img-fluid rounded" height="300" alt="Изображение о нас">
        </div>
    </div>
</main>
