
<!DOCTYPE html>

<html>
<head>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c0b27ea09a.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    

    <div class="container">
        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        } else
        {
            @await Html.PartialAsync("Header", new LibraryBooks.Models.Header.HeaderViewModel{User = User});
        }
     </div>

    @if (TempData["ToastModel"] is string json)
    {
        var toastViewModel = System.Text.Json.JsonSerializer.Deserialize<LibraryBooks.Models.Shared.ToastViewModel>(json);
        await Html.RenderPartialAsync("Toast", toastViewModel);
    }


    <div>
        @RenderBody()

      
        
    </div>

        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            @await Html.PartialAsync("Footer")
        }


    @*  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>
    <script src="~/js/site.js"></script>
</body>

</html>

